@CHARSET "UTF-8";



button#write_article {
    /*position: absolute;*/
    float:left;
    right: 10%;
}

.articleform{
	width:100%;
}

.btn-g-detail{
	margin-bottom: 25px;	
}

.btn-comments-detail{
	  font-size: 13px;
}

.comment_box{
	margin-left: 15px;
}